body {
  padding: 0;
  margin: 0;
  font-family: $font-family-trispace, sans-serif !important;
  color: $colorA;
  background-image: radial-gradient(
    circle at 50% 43%,
    $color_fest_oscuro1,
    $color_fest_oscuro2 70%
  );
}
