/*
  Estilos desarrollados para  la página del festival
  Siguen la metodología CSS BEM y la guia de diseño del creador de bootstrap
*/

/* Estilos globales */

body {
  font-family: $font-family-trispace;
}

.carel-portada {
  width: 70%;
  margin: 5% 15%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 100px) 60px;
  gap: 4px 4px;
  grid-template-areas:
    "none none titulo titulo titulo"
    "grupos neon1 foto1 foto1 foto1"
    "solido ambigu foto1 foto1 foto1"
    "logo solido2 foto2 foto3 foto4"
    "logo solido2 foto2 foto5 foto6"
    "degradado degradado degradado degradado degradado";
  opacity: 1;
}

.none {
  grid-area: none;
  background: transparent;
}

.titulo {
  grid-area: titulo;
  background: transparent;
}

.grupos {
  grid-area: grupos;
  font-size: 3em;
  line-height: 50px;
  text-align: center;

  background: transparent;
}

.neon1 {
  grid-area: neon1;
  background: #ff00e6;
}

.foto1 {
  grid-area: foto1;
}

.solido {
  grid-area: solido;
  background-image: linear-gradient(
    to right,
    #5239d0,
    #3e4dd8,
    #285ddd,
    #0f6bdf,
    #0078e0,
    #0087e5,
    #0095e8,
    #00a2ea,
    #00b5ec,
    #00c5df,
    #00d3c6,
    #0edda4
  );
}

.enlaceGrid {
  display: block;
  font-size: 0.5em;
}

.ambigu {
  grid-area: ambigu;
  font-size: 3em;
  line-height: 50px;
  color: #ff6188;
  text-align: center;

  background: transparent;
}

.logo {
  grid-area: logo;
}

.solido2 {
  grid-area: solido2;
  background: transparent;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

.foto4 {
  grid-area: foto4;
}

.foto5 {
  grid-area: foto5;
}

.foto6 {
  grid-area: foto6;
}

.degradado {
  grid-area: degradado;
  background-image: linear-gradient(
    to right top,
    #6c22bd,
    #8b25bb,
    #a52bb9,
    #bc34b7,
    #d040b5,
    #e645a5,
    #f55195,
    #ff6188,
    #ff796e,
    #ff965b,
    #f5b255,
    #e1cd60
  );
}

/* PEC2 */
.footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.footer__titulo {
  flex-grow: 2;
  margin-left: 10px;
  span {
    font-size: 16pt;
    color: #ff00e6;
  }
}
.footer__enlaces {
  flex-grow: 4;
}
.footer__social-icons {
  flex-grow: 2;
  padding-right: 10px;
  i:hover {
    text-shadow: 16px 16px 8px rgba(150, 150, 150, 0.93);
  }
}

.copyright {
  margin-bottom: 20px;
  text-align: center;
}

/* layout */

.contenedor {
  width: 1000px;
  margin: 0 auto;
}

/* header */
.header {
  position: fixed;
  z-index: 5;
  width: 260px;
  height: 100%;
  padding: 46px;
  background: $color1;
}

.header__avatar {
  width: 165px;
  height: 165px;
  overflow: hidden;
  border-radius: 50%;
}

.header__img {
  width: 100%;
}

.header__nombre {
  margin: 34px 0;
}

.header__titulo {
  margin: 0 0 5px;
  font-family: $font-family-trispace;
  font-size: 30px;
  font-weight: 700;
  color: $color3;
  letter-spacing: 1px;
}

/** Página para los grupos */
.contenedor-festival {
  width: 100%;
  padding: 20px 15%;
}

.contenedor-grupos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

/* GRUPOS */
.card-body {
  color: $color_fest_oscuro1;
}

.grupo {
  margin-bottom: 20px;
}

.grupo__foto {
  margin: auto;
  display: block;
}

.grupo--destacado {
  background: #f9f8e7;
}

//Mostramos mas o menos columnas en función del ancho de la pantalla
//> ancho > 1000px --> 3 columnas
@media only screen and (min-width: 1000px) {
  .grupo {
    flex: 0 1 calc(33% - 1em);
  }
}
//Entre 650 y 1000 --> 2 columnas
@media only screen and (max-width: 999px) {
  .grupo {
    flex: 0 1 calc(50% - 1em);
  }
}
//Si la pantalla mide menos de 700 --> 1 columna
@media only screen and (max-width: 700px) {
  .grupo {
    flex: 0 1 calc(100% - 1em);
  }
}

.card-title {
  font-weight: 500;
}
.card-text {
  font-size: 1rem;
}

.header-menu {
  padding: 2px;
}

.header-menu__link {
  font-family: $font-family-trispace;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
  }
}

.copiright {
  position: absolute;
  bottom: 20px;
}

.copiright__texto {
  font-family: $font-family-trispace;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  color: $color3;
}

/* standalone rules: no hay porqué que englobar todo en la terminología BEM
solo cuando queramos dar aportar significdo incluyendo elementos de la jerarquía en los nombres
de las clases
https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/ */

.color-rosa {
  color: $color_fest_rosa;
}

.color-azul {
  color: $color_fest_azul;
}

.color-amarillo {
  color: $color_fest_amarillo;
}

.titulo-seccion {
  text-align: center;
}

.titulo-seccion__texto {
  font-weight: 700;
  border-bottom: 3px solid $color_fest_amarillo;
}

/* Sección BLOG */
.img-portada {
  padding: 0;
  margin-top: 0;
}

.img-portada__foto {
  width: 100%;
  height: auto;
}

.parrafos-blog {
  letter-spacing: 1.5px;
  text-align: justify;
  margin-bottom: 20px;
}

.parrafos-blog__destacado {
  margin-bottom: 10px;
  letter-spacing: 2px;
  line-height: 1.5rem;
  font-size: 1.2em;
}

.texto--destacado {
  font-weight: 700;
  border-bottom: 3px solid #ffe66b;
  display: inline-block;
  line-height: 0.85;
  text-shadow: 4px -4px 3px #ffe66b;
}

//refact
.contenedor_titulo_principal {
  position: absolute;
  top: 70%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 25px;
  background: $color_fest_claro1;
  border: 5px solid;

  border-image: linear-gradient(
      90deg,
      #8223b2 20%,
      #d90368 0,
      #d90368 40%,
      #f1e9da 0,
      #f1e9da 60%,
      #2e294e 0,
      #2e294e 80%,
      #ffe66b 0
    )
    5;
}

.span_titulo_1 {
  color: $color_fest_oscuro1;
  display: block;
  font-size: 2em;
}

.span_titulo_2 {
  color: $color_fest_oscuro1;
  display: block;
  font-size: 1.6em;
}

//Si la pantalla mide menos de 700 --> 1 columna
@media only screen and (max-width: 700px) {
  .contenedor_titulo_principal {
    position: absolute;
    top: 30%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px;
    background: $color_fest_claro1;
    border: 4px solid;

    border-image: linear-gradient(
        90deg,
        #8223b2 20%,
        #d90368 0,
        #d90368 40%,
        #f1e9da 0,
        #f1e9da 60%,
        #2e294e 0,
        #2e294e 80%,
        #ffe66b 0
      )
      5;
  }
  .span_titulo_1 {
    color: $color_fest_oscuro1;
    display: block;
    font-size: 1.3em;
  }

  .span_titulo_2 {
    color: $color_fest_oscuro1;
    display: block;
    font-size: 1.2em;
  }
}
