/*
  He añadido algunos elementos css que he ido encontrando por internet y que
  eran propicios para incluir en la web ya que siguen la estética de neones, fluors, sombras
  que se ha querido aplicar par la construcción de la web
*/

/*
  Todas las fuentes de inspiración están referenciadas
  y en todos los casos ha sido necesario modificarlas
  para quedarnos con la parte que nos interesa, adaptarlos a nuestro
  web, usar nuestras variables, etc
*/

//Neon, visto en https://codepen.io/KevinOgden/full/JEwjBB

.rotulo-principal {
  text-align: center;
  border: 4px solid $color_fest_azul;
  border-radius: 15px;
  animation: border-flicker 4s linear infinite;
}

.rotulo-principal__titulo {
  padding-top: 4px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: $color_fest_rosa;
  letter-spacing: 3px;
  animation: text-flicker 8s linear infinite;
}

.titulo-neon {
  margin: 15px 5px;
  text-align: center;
  border: 5px solid $color_fest_azul;
  border-radius: 20;
  animation: border-flicker 4s linear infinite;
}

.titulo-neon__texto {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: $color_fest_rosa;
  letter-spacing: 6px;
  animation: text-flicker 10s linear infinite;
}

@media only screen and (max-width: 700px) {
  .titulo-neon {
    margin: 5px 2px;
    text-align: center;
    border: 4px solid $color_fest_azul;
    border-radius: 10;
    animation: border-flicker 4s linear infinite;
  }
  .titulo-neon__texto {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: $color_fest_rosa;
    letter-spacing: 6px;
    animation: text-flicker 10s linear infinite;
  }
}

.offset {
  animation: letter-flicker 2s linear infinite;
}

@keyframes text-flicker {
  0% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 0.1;
  }

  2% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 1;
  }
  8% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 0.1;
  }
  9% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 1;
  }
  12% {
    text-shadow: 0 0 rgba(242, 22, 22, 1);
    opacity: 0.1;
  }
  20% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 1;
  }
  25% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 0.3;
  }
  30% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 1;
  }

  70% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 0.7;
  }

  72% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 0.2;
  }

  77% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 0.9;
  }
  100% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    box-shadow: 0 0 78px 4px rgba(16, 134, 232, 0.73);
    opacity: 0.1;
  }
  2% {
    box-shadow: 0 0 78px 4px rgba(16, 134, 232, 0.73);
    opacity: 1;
  }
  4% {
    box-shadow: 0 0 78px 4px rgba(16, 134, 232, 0.73);
    opacity: 0.1;
  }

  8% {
    box-shadow: 0 0 78px 4px rgba(16, 134, 232, 0.73);
    opacity: 1;
  }
  70% {
    box-shadow: 0 0 78px 4px rgba(16, 134, 232, 0.73);
    opacity: 0.7;
  }
  100% {
    box-shadow: 0 0 78px 4px rgba(16, 134, 232, 0.73);
    opacity: 1;
  }
}

@keyframes letter-flicker {
  0% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 0.1;
  }
  2% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 0.1;
  }
  4% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 1;
  }

  19% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 1;
  }
  21% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 0.1;
  }
  23% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 1;
  }

  80% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 1;
  }
  83% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 0.4;
  }
  87% {
    text-shadow: 0 0 29px rgba(242, 22, 22, 1);
    opacity: 1;
  }
}

/* Blog */
//Adaptado de https://css-tricks.com/custom-list-number-styling/
.filosofia-festival {
  padding-left: 40px;
  list-style: none;
  counter-reset: contador;
}
.filosofia-festival__item {
  position: relative;
  margin: 20px 0;
  counter-increment: contador;
}
.filosofia-festival__item::before {
  position: absolute;
  top: 0;
  left: calc(-1 * var(--size) - 10px);
  width: var(--size);
  height: var(--size);

  font-size: 1.5rem;
  font-weight: 700;
  line-height: var(--size);

  color: $color_fest_amarillo;

  --size: 28px;

  text-align: center;
  content: counter(contador);

  background: $color_fest_oscuro1;

  border-radius: 50%;
  box-shadow: 1px 1px 4px $color_fest_azul;
  transform: rotate(-10deg);
}
