/*
  Estilos desarrollados para  la página del festival
  Siguen la metodología CSS BEM y la guia de diseño del creador de bootstrap
*/

/* Estilos globales */

body {
  font-family: $font-family-trispace;
}

.contenedor-festival {
  width: 100%;
  padding: 20px 15%;
}

@media only screen and (max-width: 700px) {
  //En pantalla pequeñas aplicaremos menos margen lateral
  .contenedor-festival {
    width: 100%;
    padding: 20px 5%;
  }
}

/* Header */
.header-menu {
  padding: 2px;
}

.header-menu__link {
  font-family: $font-family-trispace;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
  }
}

/* Fin de header */

/* Portada */

.cartel-portada {
  width: 70%;
  margin: 5% 15%;
}

//Por defecto, una versión de la portada simple
//para aquelos navegaores que no soporten display:grid
.contenedor-grid {
  background: $color_fest_oscuro2;
}

.contenedor-grid__none {
  display: none;
}

.contenedor-grid__titulo {
  background: transparent;
}

.contenedor-grid__grupos {
  font-size: 3em;
  line-height: 50px;
  text-align: center;
  background: transparent;
}

.contenedor-grid__neon1 {
  display: none;
  grid-area: neon1;
  background: $color_fest_rosa;
}

.contenedor-grid__solido {
  display: none;
  grid-area: solido;
}

.contenedor-grid__enlaceGrid {
  display: block;
  font-size: 0.5em;
}

.contenedor-grid__ambigu {
  grid-area: ambigu;
  font-size: 3em;
  line-height: 50px;
  text-align: center;
  background: transparent;
}

.contenedor-grid__logo {
  display: none;
}

.contenedor-grid__solido2 {
  display: none;
}

.contenedor-grid__foto1 {
  height: 300px;
}

.contenedor-grid__foto2,
.contenedor-grid__foto3,
.contenedor-grid__foto4,
.contenedor-grid__foto5,
.contenedor-grid__foto6 {
  display: none;
}

.contenedor-grid__degradado {
  grid-area: degradado;
  background-image: linear-gradient(
    to right top,
    #6c22bd,
    #8b25bb,
    #a52bb9,
    #bc34b7,
    #d040b5,
    #e645a5,
    #f55195,
    #ff6188,
    #ff796e,
    #ff965b,
    #f5b255,
    #e1cd60
  );
}

//Fin de la implementación por defecto
//Para aquellos navegadores que no soporta grid

@supports (display: grid) {
  //Si nuestro navegador soporta grid,
  //(que sería lo normal)
  //rescribimos el css para mostrar un GRID

  /* Crearemos dos versiones del grid,
  una para ver en escritorio y otra para dispositivos móviles.
  Hemos establecido el punto de corte en 700px de ancho de pantalla
  y la versión movil es más reducida,
  con las cuariculas algo más pequeña y menos elementos. */

  .contenedor-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 100px) 50px;
    gap: 4px 4px;
    grid-template-areas:
      "none none titulo titulo titulo"
      "grupos neon1 foto1 foto1 foto1"
      "degradado-azul ambigu foto1 foto1 foto1"
      "logo solido2 foto2 foto3 foto4"
      "logo solido2 foto2 foto5 foto6"
      "degradado degradado degradado degradado degradado";
    opacity: 1;
  }

  /* Definicion de las diferentes areas del grid */
  .contenedor-grid__none {
    grid-area: none;
    display: block;
    background: transparent;
  }

  .contenedor-grid__titulo {
    grid-area: titulo;
    display: block;
    background: transparent;
  }

  .contenedor-grid__grupos {
    display: block;
    grid-area: grupos;
    font-size: 2em;
    line-height: 50px;
    text-align: center;

    background: transparent;
  }

  .contenedor-grid__neon1 {
    display: block;
    grid-area: neon1;
    background: $color_fest_rosa;
  }

  .contenedor-grid__foto1 {
    grid-area: foto1;
    height: auto;
  }

  .contenedor-grid__degradado-azul {
    grid-area: degradado-azul;
    display: block;
    background-image: linear-gradient(
      to right,
      #5239d0,
      #3e4dd8,
      #285ddd,
      #0f6bdf,
      #0078e0,
      #0087e5,
      #0095e8,
      #00a2ea,
      #00b5ec,
      #00c5df,
      #00d3c6,
      #0edda4
    );
  }

  .contenedor-grid__enlaceGrid {
    display: block;
    font-size: 0.5em;
  }

  .contenedor-grid__ambigu {
    grid-area: ambigu;
    display: block;
    font-size: 2em;
    line-height: 50px;
    text-align: center;
    background: transparent;
  }

  .contenedor-grid__logo {
    grid-area: logo;
    display: block;
  }

  .contenedor-grid__solido2 {
    grid-area: solido2;
    display: block;
    background: transparent;
  }

  .contenedor-grid__foto2 {
    grid-area: foto2;
    display: block;
  }

  .contenedor-grid__foto3 {
    grid-area: foto3;
    display: block;
  }

  .contenedor-grid__foto4 {
    grid-area: foto4;
    display: block;
  }

  .contenedor-grid__foto5 {
    grid-area: foto5;
    display: block;
  }

  .contenedor-grid__foto6 {
    grid-area: foto6;
    display: block;
  }

  .contenedor-grid__degradado {
    display: block;
    grid-area: degradado;
  }

  //Versión móvil de nuestro GRID:
  @media only screen and (max-width: 700px) {
    .contenedor-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: repeat(4, 80px) 40px;
      gap: 2px 2px;
      grid-template-areas:
        "titulo titulo titulo titulo"
        "neon1 foto1 foto1 foto1"
        "degradado-azul foto1 foto1 foto1"
        "logo solido2 foto5 foto6"
        "degradado degradado degradado degradado";
      opacity: 1;
    }
    //Estas cuadrículas no apareceran en la versión movil del grid
    .contenedor-grid__none,
    .contenedor-grid__ambigu,
    .contenedor-grid__grupos,
    .contenedor-grid__foto2,
    .contenedor-grid__foto3,
    .contenedor-grid__foto4 {
      display: none;
    }
  }
}

/* Fin de la definicion de las clases correspondientes a las areas del grid */

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

.footer__titulo {
  flex-grow: 2;
  margin-left: 10px;
  span {
    font-size: 16pt;
    color: $color_fest_rosa;
  }
}
.footer__enlaces {
  flex-grow: 4;
}
.footer__social-icons {
  flex-grow: 2;
  padding-right: 10px;
  i:hover {
    text-shadow: 16px 16px 8px rgba(150, 150, 150, 0.93);
  }
}

.copyright {
  margin-bottom: 20px;
  text-align: center;
}

.copiright__texto {
  font-family: $font-family-trispace;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  color: $color3;
}

/** Fin de footer */

/** Página para los grupos */

.contenedor-grupos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.card-body {
  color: $color_fest_oscuro1;
}

.grupo {
  margin-bottom: 20px;

  /** Esto lo he adaptado de
    https://codepen.io/lincohn/pen/JjPZgXw
    */

  &:hover {
    box-shadow: inset 0 0 30px #fff, inset 10px 0 40px #f0f,
      inset -10px 0 40px #0ff, inset 10px 0 150px #f0f, inset -10px 0 150px #0ff,
      0 0 30px #fff, -10px 0 40px #f0f, 10px 0 40px #0ff;
  }
}

.grupo__foto {
  display: block;
  margin: auto;
}

.grupo--destacado {
  background: #f9f8e7;
}

//Mostramos mas o menos columnas en función del ancho de la pantalla
//> ancho > 1000px --> 3 columnas
@media only screen and (min-width: 1000px) {
  .grupo {
    flex: 0 1 calc(33% - 1em);
  }
}
//Entre 650 y 1000 --> 2 columnas
@media only screen and (max-width: 999px) {
  .grupo {
    flex: 0 1 calc(50% - 1em);
  }
}
//Si la pantalla mide menos de 700 --> 1 columna
@media only screen and (max-width: 700px) {
  .grupo {
    flex: 0 1 calc(100% - 1em);
  }
}

.card-title {
  font-weight: 500;
}
.card-text {
  font-size: 1rem;
}

/* Sección BLOG */
.img-portada {
  padding: 0;
  margin-top: 0;
}

.img-portada__foto {
  width: 100%;
  height: auto;
}

.parrafos-blog {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
  letter-spacing: 1.1px;
}

.parrafos-blog__destacado {
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1.5rem;
  letter-spacing: 2px;
}

.parrafos-blog::first-letter {
  font-size: 1.5em;
}

.cita {
  padding-top: 12px;
}

.cita__texto {
  font-size: 1.5em;
  font-style: italic;
  text-align: left;
}

.cita__autor {
  float: right;
  font-size: 0.7em;
  text-align: right;
}

.parrafos-blog__separador {
  border-top: 4px solid $color_fest_rosa;
}

.texto--destacado {
  display: inline-block;
  font-weight: 700;
  line-height: 0.85;
  text-shadow: 2px 2px 8px $color_fest_amarillo;
  border-bottom: 3px solid $color_fest_amarillo;
}

.contenedor_titulo_principal {
  position: absolute;
  top: 70%;
  left: 30%;
  padding: 25px;
  text-align: center;
  background: $color_fest_claro1;
  border: 5px solid;

  border-image: linear-gradient(
      90deg,
      $color_fest_oscuro1 20%,
      $color_fest_rosa 0,
      $color_fest_rosa 40%,
      $color_fest_azul 0,
      $color_fest_azul 60%,
      $color_fest_verde 0,
      $color_fest_verde 80%,
      $color_fest_amarillo 0
    )
    5;
  transform: translate(-50%, -50%);
}

.span_titulo_1 {
  display: block;
  font-size: 2em;
  color: $color_fest_oscuro1;
}

.span_titulo_2 {
  display: block;
  font-size: 1.6em;
  color: $color_fest_oscuro1;
}

@media only screen and (max-width: 1100px) {
  .contenedor_titulo_principal {
    top: 50%;
    left: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .contenedor_titulo_principal {
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 5px;
    border: 4px solid;
    border-image: linear-gradient(
        90deg,
        $color_fest_oscuro1 20%,
        $color_fest_rosa 0,
        $color_fest_rosa 40%,
        $color_fest_azul 0,
        $color_fest_azul 60%,
        $color_fest_verde 0,
        $color_fest_verde 80%,
        $color_fest_amarillo 0
      )
      5;
    transform: translate(-50%, -50%);
  }
  .span_titulo_1 {
    display: block;
    font-size: 1.3em;
    color: $color_fest_oscuro1;
  }

  .span_titulo_2 {
    display: block;
    font-size: 1.2em;
    color: $color_fest_oscuro1;
  }
}

/* Fin de blog */

/* Seccion ambigu */

.contenedor-preguntas {
  color: $color_fest_oscuro1;
}

.card_pregunta {
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  .card_pregunta {
    margin-right: 5%;
    margin-left: 5%;
  }
}

.titulo-seccion {
  margin-bottom: 20px;
  text-align: center;
}

.titulo-seccion__texto {
  font-weight: 700;
  border-bottom: 3px solid $color_fest_amarillo;
}

.titulo-subseccion {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: left;
}

.titulo-subseccion__texto {
  font-weight: 500;
  border-bottom: 2px solid $color_fest_azul;
}

/* Fin de seccion ambigu */

/* standalone rules: no hay porqué que englobar todo en la terminología BEM
solo cuando queramos dar aportar significdo incluyendo elementos de la jerarquía en los nombres
de las clases
https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/ */

.color-rosa {
  color: $color_fest_rosa;
}

.color-azul {
  color: $color_fest_azul;
}

.color-amarillo {
  color: $color_fest_amarillo;
}
